# 1. Dependency
node_modules/

# 2. Build Output (สำคัญ: เราไม่เอาไฟล์ที่ Compile แล้วขึ้น Git)
dist/
built/

# 3. Environment & Database
.env
*.db
*.sqlite

# 4. IDE (จัดการพวกโฟลเดอร์ของ PyCharm)
.idea/
.vs/
.vscode/
*.swp

# 5. Logs
*.log
npm-debug.log*

# --- หมายเหตุ: ผมเอา package-lock.json ออกจากลิสต์นี้แล้ว เพื่อให้ GitHub Actions ใช้คุมเวอร์ชันได้ครับ ---
/generated/prisma

/generated/prisma
